li{
    display: inline;
    border: 1px solid black;
    margin: 20px;
}

#first-link{
    padding: 20px 0px 5px 10px;
    /* padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 10px; */
    border: 10px solid black;
    margin: 50px;
}

a{
  color: black;
  text-decoration: none; 
}