*{
    margin: 0;
    padding: 0;
}


#header{
    height: 100px;
    background-color: #FFE6E6;
    padding: 20px;
    color: black;
    text-align: center;
}

#header > h1{ /* this is saying select all the H1 tags directly inside the div with the id of header*/
    font-size: 40px;
    margin-bottom: 10px;
}

#header > p{
    font-size: 20px;
    font-style: italic;
}

#nav-bar{
    background-color: #8c6363;
    padding: 10px;
}

#nav-links{
    display: flex;
    gap: 30px;
    /* justify-content: center; */
}

#nav-links > li{
    /* margin-right: 30px; */
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #DAEAF1;
}

a:hover{
    color:#293462;
    border: 1px solid black;
}

#main-content{
    background-color: #C6DCE4;
    padding: 20px;
}

#main-content > *{
    margin-bottom: 10px;
}

#main-content h3:first-child{
    font-size: 30px;
    color: #293462;
    margin-bottom: 30px;
}

#charlie{
    height: 500px;
}

#description{
    line-height: 30px;
    text-indent: 80px;
}









/* #main-content> h3, #main-content > p, #main-content >img {
    margin-bottom: 10px;
} */





